@media (max-width: 375px) {
  #simplicity-and-usability {
    padding-left: 15px;
    padding-right: 15px; }
    #simplicity-and-usability .num-one, #simplicity-and-usability .num-two, #simplicity-and-usability .num-three {
      max-width: 250px !important; } }

@media (max-width: 320px) {
  #simplicity-and-usability .num-one, #simplicity-and-usability .num-two, #simplicity-and-usability .num-three {
    max-width: 220px !important; } }

#simplicity-and-usability .round-elem {
  position: relative;
  max-width: 1366px;
  margin: auto; }
  #simplicity-and-usability .round-elem:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 899px;
    right: 4%;
    top: -50%;
    text-align: center;
    background: #61c2d0; }
  #simplicity-and-usability .round-elem:after {
    content: "";
    position: absolute;
    width: 80px;
    height: 450px;
    right: 5%;
    top: 20%;
    background-position: center;
    text-align: center;
    color: whitesmoke;
    font-size: 81px;
    font-weight: 600;
    background: url(../images/text-bg-1.png) no-repeat;
    background-size: 70px; }

#simplicity-and-usability .simpl-and-usabl {
  background: whitesmoke;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px; }

#simplicity-and-usability .title {
  margin-bottom: 80px; }

#simplicity-and-usability .custom-width {
  max-width: 300px;
  margin: auto;
  position: relative; }

#simplicity-and-usability .custom-container {
  max-width: 1000px;
  margin: auto; }

#simplicity-and-usability .simpl-and-usabl-desc > img {
  margin-bottom: 20px;
  height: 90px; }

#simplicity-and-usability .num-one > h5:before {
  content: ".01";
  position: absolute;
  width: 50px;
  height: 50px;
  left: -12%;
  top: -40%;
  transform: rotate(-90deg);
  text-align: center;
  color: silver;
  font-size: 28px; }

#simplicity-and-usability .num-one > h5:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 0px;
  left: -9%;
  top: -13%;
  text-align: center;
  background: silver;
  -webkit-animation: move-one 6s infinite;
    -webkit-animation-animation: move-one 6s infinite; }

#simplicity-and-usability .num-two > h5:before {
  content: ".02";
  position: absolute;
  width: 50px;
  height: 50px;
  left: -12%;
  top: -40%;
  transform: rotate(-90deg);
  text-align: center;
  color: silver;
  font-size: 28px; }

#simplicity-and-usability .num-two > h5:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 80px;
  left: -9%;
  top: -13%;
  text-align: center;
  background: silver;
  -webkit-animation: move-two 7s infinite;
    -webkit-animation-animation: move-two 7s infinite; }

#simplicity-and-usability .num-three > h5:before {
  content: ".03";
  position: absolute;
  width: 50px;
  height: 50px;
  left: -12%;
  top: -40%;
  transform: rotate(-90deg);
  text-align: center;
  color: silver;
  font-size: 28px; }

#simplicity-and-usability .num-three > h5:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 80px;
  left: -9%;
  top: -13%;
  text-align: center;
  background: silver;
  -webkit-animation: move-three 8s infinite;
    -webkit-animation-animation: move-three 8s infinite; }

@media (max-width: 991px) {
  #simplicity-and-usability .simpl-and-usabl-desc {
    max-width: 500px !important; }
  #simplicity-and-usability .num-one, #simplicity-and-usability .num-two {
    margin-bottom: 100px !important;
    text-align: left !important; }
  #simplicity-and-usability .num-three {
    text-align: left !important; }
  #simplicity-and-usability .num-one h5:after {
    top: 0%; }
  #simplicity-and-usability .num-two h5:after {
    top: 0%; }
  #simplicity-and-usability .num-three h5:after {
    top: 0%; } }

@media (max-width: 768px) {
  .simpl-and-usabl-desc {
    max-width: 300px !important;
    margin: 0 auto 50px auto;
    text-align: center; }
  #simplicity-and-usability .simpl-and-usabl-desc > img {
    margin-left: auto;
    margin-right: auto; }
  #simplicity-and-usability .num-one > h5:before, #simplicity-and-usability .num-two > h5:before, #simplicity-and-usability .num-three > h5:before {
    top: -30%; } }

#how-hw-works {
  background: url(../images/bg-2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1; }
  #how-hw-works h2 {
    color: white;
    font-weight: 500; }
  #how-hw-works h5, #how-hw-works p {
    color: white; }
  #how-hw-works .works-desc.left-part {
    background: url(../images/moon-right.png) no-repeat;
    background-position: right;
    background-size: 67px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 15px 10px 15px 0px; }
    #how-hw-works .works-desc.left-part p {
      width: 88%;
      margin-bottom: 0px; }
  #how-hw-works .works-desc.right-part {
    background: url(../images/moon-left.png) no-repeat;
    background-position: left;
    background-size: 67px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 15px 0px 15px 10px; }
    #how-hw-works .works-desc.right-part p {
      width: 88%;
      margin-bottom: 0px;
      padding-left: 20px; }
  #how-hw-works .works-desc span {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff96;
    font-size: 17px; }

#specification {
  background: url(../images/bg-5.jpg) no-repeat;
  background-position: center;
  background-size: cover; }
  #specification .swift-block {
    transform: translate(65px, 50px);
    z-index: 1; }
  #specification .swift-block-bottom {
    transform: translateY(-53px); }
  #specification .container-right {
    background: url(../images/bg-3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 568px;
    color: white; }
    #specification .container-right div:nth-child(1) {
      position: absolute;
      right: 7%;
      top: 20%; }
      #specification .container-right div:nth-child(1):before {
        content: "";
        position: absolute;
        width: 111px;
        height: 50px;
        background: url(../images/line-1.png) no-repeat;
        right: 105%;
        top: 49%; }
      #specification .container-right div:nth-child(1):after {
        content: "";
        position: absolute;
        width: 180px;
        height: 81px;
        background: url(../images/line-4.png) no-repeat;
        left: -149%;
        top: 7%;
        z-index: 1; }
    #specification .container-right div:nth-child(2) {
      position: absolute;
      right: 7%;
      top: 33%; }
      #specification .container-right div:nth-child(2):before {
        content: "";
        position: absolute;
        width: 124px;
        height: 50px;
        background: url(../images/line-2.png) no-repeat;
        right: 105%;
        top: 49%; }
      #specification .container-right div:nth-child(2):after {
        content: "";
        position: absolute;
        width: 242px;
        height: 75px;
        background: url(../images/line-5.png) no-repeat;
        left: -218%;
        top: 411%;
        z-index: 1; }
    #specification .container-right div:nth-child(3) {
      position: absolute;
      right: 19%;
      top: 61%; }
      #specification .container-right div:nth-child(3):before {
        content: "";
        position: absolute;
        width: 132px;
        height: 55px;
        background: url(../images/line-3.png) no-repeat;
        right: 105%;
        top: -21%; }
      #specification .container-right div:nth-child(3):after {
        content: "";
        position: absolute;
        width: 150px;
        height: 155px;
        background: url(../images/line-6.png) no-repeat;
        left: -207%;
        bottom: -365%;
        z-index: 1; }
  #specification .container-right p > span {
    font-weight: 300;
    font-size: 14px;
    color: #ffffff85; }
  #specification .container-right p {
    margin-bottom: 0;
    margin-left: 15px; }
  #specification .container-left {
    background: #0094a1;
    min-height: 568px;
    padding: 35px;
    color: white; }
  #specification .characteristic {
    list-style: none;
    padding-left: 0px; }
    #specification .characteristic li {
      justify-content: left !important;
      -webkit-justify-content: left !important; }
    #specification .characteristic li img {
      display: inline-block;
      vertical-align: center; }
    #specification .characteristic li p {
      margin-bottom: 0px;
      margin-left: 5px;
      font-size: 14px; }
  #specification .multi-currency {
    border: 2px solid #61c2d0;
    padding: 65px 25px 35px; }
    #specification .multi-currency div {
      flex-wrap: wrap; }
    #specification .multi-currency img {
      padding: 8px; }
    #specification .multi-currency p {
      margin-bottom: 0;
      font-size: 13px; }
  #specification .wrapper-specification {
    position: relative;
    max-width: 1366px;
    margin: auto; }
    #specification .wrapper-specification:after {
      content: "";
      position: absolute;
      width: 2px;
      height: 400px;
      right: 4%;
      top: -16%;
      text-align: center;
      background: #61c2d0; }
    #specification .wrapper-specification:before {
      content: ".";
      position: absolute;
      width: 4px;
      height: 4px;
      right: 4%;
      top: 35%;
      text-align: center;
      background: #61c2d0;
      border-radius: 5px;
      -webkit-border-radius: 5px; }

@media (max-width: 991px) {
  #specification .swift-block {
    transform: none;
    padding-right: 0px; }
  #specification .swift-block-bottom {
    margin-top: 0px !important;
    transform: none; }
  #specification .multi-currency {
    padding: 35px 25px;
    max-width: 90%;
    margin: 0 auto;
    transform: translateY(-20px); }
  #specification .container-left {
    padding: 20px; }
  #specification .no-swift-block {
    padding-left: 0px; }
  #specification .container-right div:nth-child(1) {
    right: 18%;
    top: 7%; }
    #specification .container-right div:nth-child(1):before {
      right: 92%;
      top: 163%;
      transform: rotate(-50deg); }
    #specification .container-right div:nth-child(1):after {
      left: -95%;
      top: 159%; }
  #specification .container-right div:nth-child(2) {
    top: 25%; }
    #specification .container-right div:nth-child(2):after {
      left: -187%;
      top: 358%; }
  #specification .container-right div:nth-child(3) {
    right: 12%;
    top: 60%; }
    #specification .container-right div:nth-child(3):after {
      left: -260%;
      bottom: -443%; } }

@media (max-width: 767px) {
  #specification .swift-block {
    padding-right: 15px; }
  #specification .no-swift-block {
    padding-left: 15px;
    margin-top: 0px !important; } }

@media (max-width: 768px) {
  #specification .container-left {
    padding: 35px; }
  #specification .container-right div:nth-child(1):after {
    display: none; }
  #specification .container-right div:nth-child(2):after {
    display: none; }
  #specification .container-right div:nth-child(3):after {
    display: none; } }

@media (max-width: 460px) {
  #specification .container-right {
    background-position-x: 0px; }
  #specification .container-right div:nth-child(1) {
    left: 0;
    right: 0;
    padding: 15px; }
    #specification .container-right div:nth-child(1):before {
      display: none; }
  #specification .container-right div:nth-child(2) {
    left: 0;
    padding: 15px; }
    #specification .container-right div:nth-child(2):before {
      display: none; }
  #specification .container-right div:nth-child(3) {
    left: 0;
    padding: 15px; }
    #specification .container-right div:nth-child(3):before {
      display: none; } }
