
body {
    font-family: 'Open Sans', sans-serif;
    color: #1d1d1b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

h2{
    color: #1d1d1b;
    font-weight: 600;
}

a {
    text-decoration: none !important;
    outline: none !important;
}
p{
    font-size: 16px;
}
span.title-border,.features-desc a:hover,.service-box .service-icon,.company-sub-menu li a:hover,.text-custom,#topnav .has-submenu.active .submenu li.active > a,
#navigation li.active a,#topnav .navigation-menu > li .submenu li a:hover,#topnav .navigation-menu .has-submenu .submenu > li:hover > a,
#topnav .navigation-menu > li:hover > a {
  color: rgba(230, 56, 93, 1) !important;
}

.btn-custom,.bg-custom,.play-icon-circle,.main-slider .flex-control-paging li a.flex-active,.features-border,.team-social li a:hover,.plan-price h6,
.footer-icons li a:hover,#topnav .navbar-toggle.open span:hover {
  background-color: rgb(255, 255, 255) !important;
}

.btn-custom{
  border: 1px solid rgba(230, 56, 93, 1) !important;
}

.team-box.active,.team-social li a:hover,.form-control:focus,.footer-icons li a:hover,#topnav .has-submenu.active .menu-arrow{
    color: rgba(230, 56, 93, 1) !important;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    background-color:rgba(230, 56, 93, 1);
    border-color:rgba(230, 56, 93, 1);
}

@media (min-width: 992px) {
  #topnav .navigation-menu > li .submenu li a:hover,#topnav .navigation-menu .has-submenu .submenu > li:hover > a,#topnav .navigation-menu > li:hover > a,
  #topnav .navigation-menu > li:hover > .menu-arrow{
    color: rgba(230, 56, 93, 1) !important;
  }
}

@media (max-width: 991px) {
  #topnav .navigation-menu > li > a:hover,
  #topnav .navigation-menu > li .submenu li a:hover,
  #topnav .navigation-menu > li.has-submenu.open > a,
  #topnav .menu-extras .menu-item .cart > a:hover,
  #topnav .menu-extras .menu-item .search > a:hover,#topnav .navigation-menu .submenu.open .has-submenu.open > a,#topnav .has-submenu.active a{
    color: rgba(230, 56, 93, 1) !important;
  }
}
/*======================
        HELPER
========================*/

.section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-color: #fff;
}
.section img{
    position: relative;
    z-index: 1;
    width: auto;
    max-width: 100%
}
.section .container{
    position: relative;
    z-index: 2;
}
.bg-overlay {
    position: absolute;
    background: url(../images/img-22.png) no-repeat;
    background-position: 13% 63%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: 460px;
    max-width: 1200px;
    margin: 0 auto;
}
.bg-overlay:before{
    content: "";
    position: absolute;
    left: 0;
    top: 75%;
    width: 109px;
    height: 800px;
    background: url(../images/text-bg-2.png) no-repeat;
    transform: translateY(-50%);
    background-size: 64px;
}
.bg-overlay-part{
    position: absolute;
    background: url(../images/img-21.png) no-repeat;
    background-position: right center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size:60% 100vh;
    margin: 0 auto;
}
.bg-overlay-gradient{
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
}

.title h2 {
    margin-top: 10px;
}

span.title-border:before {
    left: 100%;
}

span.title-border:after {
    right: 100%;
}

span.title-border:before {
    content: "";
    background: #dadada;
    width: 45px;
    height: 1px;
    top: 9px;
    position: absolute;
}

span.title-border:after {
    content: "";
    background: #dadada;
    width: 45px;
    height: 1px;
    top: 9px;
    position: absolute;
}

span.title-border {
    padding: 0 8px;
    font-size: 18px;
    line-height: 18px;
    position: relative;
    display: inline-block;
}

.btn-rounded {
    border-radius: 30px;
    -webkit-border-radius: 30px;
}

.btn-custom {
    font-size: 15px;
    transition: all 0.4s;
    color: #fff !important;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    box-shadow: none !important;
}

.btn-outline-custom {
    background-color: transparent;
    border: 1px solid #fff !important;
    transition: all 0.4s;
    color: #fff;
}

.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-outline-custom:active,
.btn-outline-custom.active,
.btn-outline-custom.focus,
.btn-outline-custom:active,
.btn-outline-custom:focus,
.btn-outline-custom:hover,
.open > .dropdown-toggle.btn-outline-custom {
    background-color: #fff !important;
    border: 1px solid #fff !important;
    box-shadow: none !important;
    color: #000;
}

.btn {
    padding: 12px 25px;
    font-size: 16px;
    letter-spacing: 0.03px;
    font-weight: 300;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    border: none;
    color: white;
    text-transform: uppercase;
    background-color: #f13c61;
    box-shadow: 0 4px 15px 0 rgba(71, 82, 94, 0.34), 0 2px 4px 0 rgba(71, 82, 94, 0.32);
    background-image: linear-gradient(215deg, rgba(255, 255, 255, 0.1), rgba(255, 0, 110, 0.5));
    transition: ease all 0.5s;

}
.btn:focus, .btn:active{
    background-color:rgba(230, 56, 93, 1);
    background:rgba(230, 56, 93, 1);
    box-shadow: 0px 5px 5px rgba(127, 127, 127, 0.17);
    -webkit-box-shadow: 0px 5px 5px rgba(127, 127, 127, 0.17);
}
.btn:hover{
    box-shadow: 0px 5px 5px rgba(127, 127, 127, 0.17);
    -webkit-box-shadow: 0px 5px 5px rgba(127, 127, 127, 0.17);
    color: white;
    background-color:rgba(230, 56, 93, 1);
    background:rgba(230, 56, 93, 1);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.buttons-store{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    max-width: 355px;
    flex-wrap: wrap;
}

.btn-silver{
    background: rgba(244, 244, 244, 1) !important;
    color: rgba(199, 198, 199, 1) !important;
    outline: none;
}
.buttons-store img, .buttons-store span{
    display: inline-block;
    vertical-align: middle
}
.main-title img{
    margin-right: 5px;
}
.vertical-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;  
    flex-direction: row;
    -webkit-flex-direction: row;
}
@media (max-width: 768px){
    .bg-overlay{
        background-position: -5% 59%;
        background-size: 330px;
    }
    .bg-overlay-part{
        background-size: 70% 100vh;
    }
    .home-title{
        font-size: 38px !important;
    }
    .main-title{
        margin: 0 auto;
        text-align: center;
    }
    .main-title .buttons-store{
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .bg-overlay:before{
        display: none;
    }
    #simplicity-and-usability .round-elem:before, .horizon-elem ul{
        display: none;
    }
}

@media (max-width:480px){
    .bg-overlay-part {
        background-size: 80% 100vh;
    }
    .bg-overlay{
        background-position: -149% 59%;
    }
    .systems .characteristic{
        max-width: 213px;
        text-align: left;
    }
    .home-center .systems{
        bottom: 10px !important;
        margin-left: 20% !important;
    }
}
@media (max-width:375px){
    .bg-overlay{
        background-size: 300px;
    }
    .home-title{
        font-size: 33px !important;
    }
}
@media (max-width:320px){
    .bg-overlay{
        background-size: 256px;
    }
}

/*==========================
        HOME
============================*/

.bg-home {
    background-image: url('../images/bg-4.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
    min-height: 480px;
}

.home-center {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
}
.home-center .systems{
    position: absolute;
    right: 0;
    bottom: 50px;
    text-align: center;
    left: 0;
    margin: 0 auto;
    margin-left: 30%;
    max-width: 1366px;
}
.home-center .systems .characteristic li{
    display: inline-block;
    padding-left: 20px;
}
.home-center .systems .characteristic img{
    display: inline-block;
    vertical-align: middle;
}
.home-center .systems .characteristic p{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0px;
    margin-left: 5px;
    font-size: 14px;
}
.home-desc-center {
    display: table-cell;
    vertical-align: middle;
}
.main-title h6{
    font-size: 31px;
    font-weight: 600;
    color: rgba(121, 121, 121, 1);
    max-width: 420px;
}
.main-title h6 span{
    color: rgba(230, 56, 93, 1)
}
.main-title{
    max-width: 420px;
}
.main-title p {
    line-height: 27px;
    font-size: 18px;
    padding-top: 0px !important;
}
.home-title{
    font-size: 48px;
    line-height: 1.2;
    font-weight: 500;
}

.home-sub-title{
    font-size: 17px;
    line-height: 1.8;
    max-width: 600px;
}

.watch-video a span{
    font-size:16px;
    padding-left: 10px;
    position: relative;
    top: -5px;
}

.play-icon-circle {
    height: 64px;
    width: 64px;
    line-height: 64px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    color: #fff;
    font-size: 28px;
}

.play-btn-light{
    background-color: #fff !important;
    color: #6c77c0;
    mix-blend-mode: lighten;;
}

#footer{
    padding: 25px 15px 35px;
    background: #182324;
    color: white;
}
#footer .logo img{
    max-width: 200px;
}
#footer p {
    margin-bottom: 0px;
    font-size: 14px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes move-one {
    0%   {height: 0px;}
    50%  {height: 80px}
    100% {height: 0px}
}

/* Standard syntax */
@keyframes move-one {
    0%   {height: 0px;}
    50%  {height: 80px}
    100% {height: 0px}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes move-two {
    0%   {height: 0px;}
    50%  {height: 80px}
    100% {height: 0px}
}

/* Standard syntax */
@keyframes move-two {
    0%   {height: 0px;}
    50%  {height: 80px}
    100% {height: 0px}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes move-three {
    0%   {height: 0px;}
    50%  {height: 80px}
    100% {height: 0px}
}

/* Standard syntax */
@keyframes move-three {
    0%   {height: 0px;}
    50%  {height: 80px}
    100% {height: 0px}
}


/*-----------
preloader
------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #75cbe7;
    background: -webkit-gradient(linear, left top, left bottom, from(#75cbe7), to(#138fc2));
    background: linear-gradient(to bottom, #75cbe7 0%, #138fc2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75cbe7', endColorstr='#138fc2', GradientType=0);
    z-index: 99999999999;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 74, 74, 1);
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}




.horizon-elem{
    max-width: 1366px;
    position: relative;
    top: 50%;
    width: 100%;
    display: block;
    margin: 0 auto;
    z-index: 1;
}
.horizon-elem ul:before{
    content: "";
    position: absolute;
    top: 20px;
    height: 2px;
    width: 760px;
    background: #61c2d0;
    left: -800px;
    z-index: 1;
}
.horizon-elem ul:after{
    content: "";
    position: absolute;
    top: 20px;
    height: 4px;
    width: 4px;
    border-radius:5px;
    -webkit-border-radius:5px;
    background: #61c2d0;
    left: -14px;;
    z-index: 1;
}
.horizon-elem ul{
    list-style-type: none;
    padding-left: 0px;
    position: absolute;
    left:-97px;
    top:50%;
    transform:rotate(-90deg) translateY(-50%);
}
.horizon-elem ul li{
    display: inline-block;
    padding: 10px;
    font-size: 14px;
}
