#simplicity-and-usability

	@media (max-width: 375px)
		padding-left: 15px
		padding-right: 15px

		.num-one,.num-two, .num-three
		    max-width: 250px !important

	@media (max-width: 320px)

		.num-one,.num-two, .num-three
		    max-width: 220px !important

	.round-elem
		position: relative
		max-width: 1366px
		margin: auto

		&:before
			content: ""
			position: absolute
			width: 2px
			height: 899px
			right: 4%
			top: -50%
			text-align: center
			background: #61c2d0

		&:after
			content: ""
			position: absolute
			width: 80px
			height: 450px
			right: 5%
			top: 20%
			background-position: center
			text-align: center
			color: whitesmoke
			font-size: 81px
			font-weight: 600
			background: url(../images/text-bg-1.png) no-repeat
			background-size: 70px

	.simpl-and-usabl
		background: whitesmoke
		max-width: 1200px
		margin: 0 auto
		padding-top: 80px
		padding-bottom: 80px

	.title
		margin-bottom: 80px 

	.custom-width
		max-width: 300px
		margin: auto
		position: relative

	.custom-container
		max-width: 1000px
		margin: auto

	.simpl-and-usabl-desc > img
		margin-bottom: 20px
		height: 90px

	.num-one > h5
		&:before
			content: ".01"
			position: absolute
			width: 50px
			height: 50px
			left: -12%
			top: -40%
			transform: rotate(-90deg)
			text-align: center
			color: silver
			font-size: 28px

	.num-one > h5
		&:after
			content: ""
			position: absolute
			width: 1px
			height: 0px
			left: -9%
			top: -13%
			text-align: center
			background: silver
			-webkit-animation: move-one 6s infinite
    		animation: move-one 6s infinite

	.num-two > h5
		&:before
			content: ".02"
			position: absolute
			width: 50px
			height: 50px
			left: -12%
			top: -40%
			transform: rotate(-90deg)
			text-align: center
			color: silver
			font-size: 28px

	.num-two > h5
		&:after
			content: ""
			position: absolute
			width: 1px
			height: 80px
			left: -9%
			top: -13%
			text-align: center
			background: silver
			-webkit-animation: move-two 7s infinite
    		animation: move-two 7s infinite

	.num-three > h5
		&:before
			content: ".03"
			position: absolute
			width: 50px
			height: 50px
			left: -12%
			top: -40%
			transform: rotate(-90deg)
			text-align: center
			color: silver
			font-size: 28px

	.num-three > h5
		&:after
			content: ""
			position: absolute
			width: 1px
			height: 80px
			left: -9%
			top: -13%
			text-align: center
			background: silver
			-webkit-animation: move-three 8s infinite
    		animation: move-three 8s infinite

@media (max-width:991px)
	#simplicity-and-usability 
		.simpl-and-usabl-desc
			max-width: 500px !important

		.num-one,.num-two 
			margin-bottom: 100px !important
			text-align: left !important
		.num-three
			text-align: left !important 

		.num-one h5:after
			top: 0%
		.num-two h5:after
			top: 0%
		.num-three h5:after
			top: 0%

@media (max-width:768px)	
	.simpl-and-usabl-desc
		max-width: 300px !important
		margin: 0 auto 50px auto
		text-align: center

	#simplicity-and-usability .simpl-and-usabl-desc > img
		margin-left: auto
		margin-right: auto

	#simplicity-and-usability .num-one > h5:before, #simplicity-and-usability .num-two > h5:before, #simplicity-and-usability .num-three > h5:before
		    top: -30%

