#specification

	background: url(../images/bg-5.jpg) no-repeat
	background-position: center
	background-size: cover

	.swift-block
		transform: translate(65px,50px)
		z-index: 1

	.swift-block-bottom
		transform: translateY(-53px)
	
	.container-right
		background: url(../images/bg-3.jpg) no-repeat
		background-position: center
		background-size: cover
		position: relative
		height: 568px
		color: white

		div:nth-child(1)
			position: absolute
			right: 7%
			top: 20%
			&:before
				content: ""
				position: absolute
				width: 111px
				height: 50px
				background: url(../images/line-1.png) no-repeat
				right: 105%
				top: 49%
			&:after
				content: ""
				position: absolute
				width: 180px
				height: 81px
				background: url(../images/line-4.png) no-repeat
				left: -149%
				top: 7%
				z-index: 1

		div:nth-child(2)
			position: absolute
			right: 7%
			top: 33%
			&:before
				content: ""
				position: absolute
				width: 124px
				height: 50px
				background: url(../images/line-2.png) no-repeat
				right: 105%
				top: 49%
			&:after
				content: ""
				position: absolute
				width: 242px
				height: 75px
				background: url(../images/line-5.png) no-repeat
				left: -218%
				top: 411%
				z-index: 1

		div:nth-child(3)
			position: absolute
			right: 19%
			top: 61%
			&:before
				content: ""
				position: absolute
				width: 132px
				height: 55px
				background: url(../images/line-3.png) no-repeat
				right: 105%
				top: -21%
			&:after
				content: ""
				position: absolute;
				width: 150px
				height: 155px
				background: url(../images/line-6.png) no-repeat
				left: -207%
				bottom: -365%
				z-index: 1

	.container-right p > span 
		font-weight: 300
		font-size: 14px
		color: #ffffff85

	.container-right p
		margin-bottom: 0
		margin-left: 15px

	.container-left
		background: #0094a1
		min-height: 568px
		padding: 35px
		color: white

	.characteristic
		list-style: none
		padding-left: 0px

		li 
			justify-content: left !important
			-webkit-justify-content: left !important

		li img 
			display: inline-block
			vertical-align: center

		li p 
			margin-bottom: 0px
			margin-left: 5px
			font-size: 14px

	.multi-currency

		border: 2px solid #61c2d0
		padding: 65px 25px 35px

		div

			flex-wrap: wrap

		img
			padding: 8px

		p 
			margin-bottom: 0
			font-size: 13px

	.wrapper-specification
		position: relative
		max-width: 1366px
		margin: auto
		
		&:after
			content: ""
			position: absolute
			width: 2px
			height: 400px
			right: 4%
			top: -16%
			text-align: center
			background: #61c2d0

		&:before
			content: "."
			position: absolute
			width: 4px
			height: 4px
			right: 4%
			top: 35%
			text-align: center
			background: #61c2d0
			border-radius: 5px
			-webkit-border-radius: 5px 


@media(max-width:991px)
	#specification .swift-block
		transform: none
		padding-right: 0px

	#specification .swift-block-bottom
		margin-top: 0px !important
		transform: none

	#specification .multi-currency
		padding: 35px 25px
		max-width: 90%
		margin: 0 auto
		transform: translateY(-20px)

	#specification .container-left
		padding: 20px

	#specification .no-swift-block
		padding-left: 0px

	#specification .container-right div:nth-child(1)
		right: 18%
		top: 7%
		&:before
			right: 92%
			top: 163%
			transform: rotate(-50deg)
		&:after
			left: -95%
			top: 159%

	#specification .container-right div:nth-child(2)
		top: 25%
		&:after
			left: -187%
			top: 358%

	#specification .container-right div:nth-child(3)
		right: 12%
		top: 60%
		&:after
			left: -260%
			bottom: -443%


@media(max-width:767px)
	#specification .swift-block
		padding-right: 15px

	#specification .no-swift-block
		padding-left: 15px
		margin-top: 0px !important

@media(max-width:768px)
	#specification .container-left
		padding: 35px

	#specification .container-right div
		&:nth-child(1)
			&:after
				display: none
		&:nth-child(2)
			&:after
				display: none
		&:nth-child(3)
			&:after
				display: none

@media(max-width:460px)
	#specification .container-right
		background-position-x: 0px
	#specification .container-right div:nth-child(1)
		left: 0
		right: 0
		padding: 15px

		&:before
			display: none
	#specification .container-right div:nth-child(2)
		left: 0
		padding: 15px

		&:before
			display: none
		
	#specification .container-right div:nth-child(3)
		left: 0
		padding: 15px

		&:before
			display: none

