#how-hw-works
	background: url(../images/bg-2.jpg) no-repeat
	background-position: center
	background-size: cover
	z-index: 1

	h2 
		color: white
		font-weight: 500

	h5, p
		color: white

	.works-desc.left-part
		background: url(../images/moon-right.png) no-repeat
		background-position: right
		background-size: 67px
		margin-bottom: 25px
		margin-top: 25px
		padding: 15px 10px 15px 0px

		p
			width: 88%
			margin-bottom: 0px

	.works-desc.right-part
		background: url(../images/moon-left.png) no-repeat
		background-position: left
		background-size: 67px
		margin-bottom: 25px
		margin-top: 25px
		padding: 15px 0px 15px 10px

		p 
			width: 88%
			margin-bottom: 0px
			padding-left: 20px

	.works-desc span
		display: inline-block
		vertical-align: middle
		color: #ffffff96
		font-size: 17px




